
h1 { font-size: 1.8em; }

body {margin:0; padding:0;}

a {color:blue;}
a:hover{color:red;}

/* header {background-color:#ecfff4} */

nav .container {
  padding: 0 5vw;
}
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  /* Lang  dir. support */
  margin-inline-end: 1em;
  margin-inline-start: 0;
  margin-bottom: 0.25em;
}

.logo-mg {
  max-width: 40em;
}

.description-note { color: gray; }

.actu {
  padding: 1em 0;
  background-color: #fffde7;
}

.equipe { background-color:#f9ffff }
.equipe-data {
  display: inline-block;
}

.equipe .row {margin-bottom: 1.5em ;}

.red { color: darkred; }
.gray {color:gray;}

.measure {
  max-width: 45em;
}

.container {
  margin:0 auto;
  padding: 1vw 5vw;
  width:100%;
  max-width:60em;
  word-break:break-word;
  overflow-x:hidden
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}

.col {
  /* flex: auto; */
  padding: .5em;
}

.fan-art { background-color: #eeffef}

.gallery {
	width: 100%;
	text-align:center;
}

.gallery-item {
	display: block;
	padding: 1em;
	text-align:center;
	box-sizing: border-box;
}

.gallery-item a {
	text-decoration: none;
}

.gallery-item img {
	display: block;
	margin: 0 auto;
	max-width:100%;
	/* old IE fallback */
	*width: 100%;
	height: auto;
	outline: 0;
	border: 5px solid transparent;
}

.gallery-item a:hover, .gallery-item a:focus {
	color: blue;
}

.gallery-item a:focus {
	outline: 0;
}

.gallery-item a:hover img {
	transform: scale(1.02);
}

.gallery-item a:focus img {
	border-color: blue;
}

/* .gallery-item a:hover *, .gallery-item a:focus { text-decoration: underline; }
.gallery-item a:focus { outline: 0.25em solid blue; } */

@media (min-width: 45em) {
	.gallery-item {
		width: 48%;
		display: inline-block;
		vertical-align: middle;
	}
	.gallery-item img {
		max-height: 700px !important;
	}
}
@media (min-width: 120em) {
	.gallery-item {
		width: auto;
	}
}

/*
  Widths
*/

.w-1-6 { width: 16.6667%; }
.w-1-5,
.w-20 { width: 20%; }
.w-1-4,
.w-25 { width: 25%; }
.w-1-3,
.w-2-6 { width: 33.333333%; }
.w-2-5 { width: 40%; }
.w-1-2,
.w-3-6,
.w-2-4,
.w-50  { width: 50%; }
.w-3-5 { width: 60%; }
.w-2-3,
.w-4-6 { width: 66.666667%; }
.w-3-4 { width: 75%; }
.w-4-5 { width: 80%; }
.w-5-6 { width: 83.333333%; }
.w-100, .w-full { width: 100%; }
.w-auto { width: auto; }

@media screen and (min-width: 40em) {
  .w-1-6\:m { width: 16.6667%; }
  .w-1-5\:m,
  .w-20\:m { width: 20%; }
  .w-1-4\:m,
  .w-25\:m { width: 25%; }
  .w-1-3\:m,
  .w-2-6\:m { width: 33.333333%; }
  .w-2-5\:m { width: 40%; }
  .w-1-2\:m,
  .w-3-6\:m,
  .w-2-4\:m,
  .w-50\:m  { width: 50%; }
  .w-3-5\:m { width: 60%; }
  .w-2-3\:m,
  .w-4-6\:m { width: 66.666667%; }
  .w-3-4\:m { width: 75%; }
  .w-4-5\:m { width: 80%; }
  .w-5-6\:m { width: 83.333333%; }
  .w-100\:m, .w-full\:m { width: 100%; }
  .w-auto\:m { width: auto; }
}

@media screen and (min-width: 60em) {
  .w-1-6\:l { width: 16.6667%; }
  .w-1-5\:l,
  .w-20\:l { width: 20%; }
  .w-1-4\:l,
  .w-25\:l { width: 25%; }
  .w-1-3\:l,
  .w-2-6\:l { width: 33.333333%; }
  .w-2-5\:l { width: 40%; }
  .w-1-2\:l,
  .w-3-6\:l,
  .w-2-4\:l,
  .w-50\:l  { width: 50%; }
  .w-3-5\:l { width: 60%; }
  .w-2-3\:l,
  .w-4-6\:l { width: 66.666667%; }
  .w-3-4\:l { width: 75%; }
  .w-4-5\:l { width: 80%; }
  .w-5-6\:l { width: 83.333333%; }
  .w-100\:l, .w-full\:l { width: 100%; }
  .w-auto\:l { width: auto; }
}
