
.logo {
  margin: 0  auto;
  max-width: 35em;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  /* Lang  dir. support */
  margin-inline-end: 1em;
  margin-inline-start: 0;
  margin-bottom: 0.25em;
}

.description, .actu, .equipe {
  margin: 0  auto;
  max-width: 38em;
}

.description-note { color: gray; }
.actu, .equipe {
  margin-top: 2em;
}




.red { color: darkred; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display:flex;
  flex-wrap: wrap;
}

.col {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;

  margin: .5em;

  background-color: #efefef;
  border: 1px solid #dedede;
  padding: .5em;

}

/*
  Widths
*/

.w-1-6 { max-width: 16.6667%; }
.w-1-5 { max-width: 20%; }
.w-1-4 { max-width: 25%; }
.w-1-3 { max-width: 33.333333%; }
.w-2-5 { max-width: 40%; }
.w-1-2 { max-width: 50%; }
.w-3-5 { max-width: 60%; }
.w-2-3 { max-width: 66.666667%; }
.w-3-4 { max-width: 75%; }
.w-4-5 { max-width: 80%; }
.w-5-6 { max-width: 83.333333%; }
.w-100, .w-full { width: 100%; }
.w-auto { width: auto; }

@media screen and (min-width: 40em) {
  .w-1-6\@m { width: 16.6667%; }
  .w-1-5\@m { width: 20%; }
  .w-1-4\@m { width: 25%; }
  .w-1-3\@m { width: 33.333333%; }
  .w-2-5\@m { width: 40%; }
  .w-1-2\@m { width: 50%; }
  .w-3-5\@m { width: 60%; }
  .w-2-3\@m { width: 66.666667%; }
  .w-3-4\@m { width: 75%; }
  .w-4-5\@m { width: 80%; }
  .w-5-6\@m { width: 83.333333%; }
  .w-100\@m, .w-full\@m { width: 100%; }
  .w-auto\@m { width: auto; }
}
@media screen and (min-width: 60em) {
  .w-1-6\@l { width: 16.6667%; }
  .w-1-5\@l { width: 20%; }
  .w-1-4\@l { width: 25%; }
  .w-1-3\@l { width: 33.333333%; }
  .w-2-5\@l { width: 40%; }
  .w-1-2\@l { width: 50%; }
  .w-3-5\@l { width: 60%; }
  .w-2-3\@l { width: 66.666667%; }
  .w-3-4\@l { width: 75%; }
  .w-4-5\@l { width: 80%; }
  .w-5-6\@l { width: 83.333333%; }
  .w-100\@l, .w-full\@l { width: 100%; }
  .w-auto\@l { width: auto; }
}
